@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  border-bottom: 1px solid #555;
}

.swiper-pagination-bullet {
  background: gray !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: gray !important;
}


.logo {
  font-size: 24px;
  color: gray;
}

#menu-toggle {
  display: none;
}

.menu-btn {
  cursor: pointer;
  width: 30px;
  height: 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
}

.menu-btn span {
  height: 3px;
  background: white;
  border-radius: 5px;
  transition: all 0.4s ease;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #000;
  border-top: 1px solid #555;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  text-align: center;
  z-index: 5;
}

.menu a {
  padding: 15px;
  display: block;
  text-decoration: none;
  color: white;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu a:hover {
  background: #222;
}

/* Animate when menu is open */
#menu-toggle:checked ~ .menu {
  max-height: 500px;
  opacity: 1;
}

#menu-toggle:checked ~ .menu a {
  opacity: 1;
  transform: translateY(0);
}

/* Animate burger to X */
#menu-toggle:checked + .menu-btn span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}

#menu-toggle:checked + .menu-btn span:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked + .menu-btn span:nth-child(3) {
  transform: rotate(-45deg) translate(9px, -10px);
}

button {
  position: relative;
  margin-top: 5px;
  padding: 10px 20px;
  background-image: linear-gradient(to right, black 3%, rgb(69, 69, 69) 70%);
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}
.linkMbile {
  width: 100%;
}
.linkMbile a {
  color: rgb(255, 255, 255);
}
.linkMbile a:hover {
  color: #797979;
  text-decoration: underline;
}
button::before,
button::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: black;
  z-index: -1;
  transition: all 0.7s ease;
}

button:hover::before {
  left: 0;
}

button:hover::after {
  left: 0;
}

button:hover {
  color: #ffffff;
  box-shadow: 0 0 20px 0 white;
}

/* Hide nav on large screen if using alternate layout */
@media screen and (min-width: 767px) {
  .navbar {
    display: none;
  }
}
